{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}


{% block content %}
<div class="section mb-5 p-2">
    <div class="card p-1">
      {% if filter %}
      <form method="get" class="row row-cols-lg-auto g-3 align-items-center" >
        {% bootstrap_form filter.form layout='inline' %}
        <div class="p-1">
          {% bootstrap_button 'Обновить' button_class='btn btn-primary btn-sm btn-block' %}
        </div>
      </form>
      {% endif %}
    </div>

    <div class="card mt-2">
      {% render_table table %}
    </div>


{% endblock %}
</div>

{% block bootstrap5_after_content %}
  <!-- Modal -->
  <div class="modal fade" id="deleteDialogModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete transaction?' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Удалить транзакцию? Это действие необратимо.</p>
          </div>
          <div class="modal-footer">
            {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
            {% comment %} TODO: bootstrap_button data-bs-dismiss
            {% bootstrap_button "Close" "data-bs-dismiss"="modal" button_class="btn-secondary" %} {% endcomment %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Cancel' %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block bootstrap5_extra_script %}
  <script src="{% static 'finance/js/delete_dialog_modal.js' %}"></script>
{% endblock %}