{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'finance/css/highcharts.css' %}">
{% endblock %}

{% block content %}
<div class="section mb-5 p-2">
  <div class="card">
    <div class="card-body">
      {% if filter %}
        <form method="get" class="row row-cols-lg-auto g-3 align-items-center" >
          {% bootstrap_form filter.form layout='inline' %}
          {% bootstrap_button 'Обновить' %}
        </form>
      {% endif %}
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body p-0">

      <figure class="highcharts-figure">
        <div id="pie_chart_container"></div> 
      </figure>
    
      <figure class="highcharts-figure">
          <div id="bar_chart_container"></div>
      </figure>

    </div>
  </div>




</div>
{% endblock %}

{% block bootstrap5_extra_script %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>   
    _series = [{
      name: 'Расходы',
      colorByPoint: true,
      data: {{ category_with_amount|safe }}
    }]
    _categories = []
    _bar_series = []
    for (const element of {{ category_with_amount|safe }}) {
      _categories.push(element.name)
      _bar_series.push(element.y)
    }
  </script>
  <script src="{% static 'finance/js/pie_chart.js' %}"></script>
  <script src="{% static 'finance/js/bar_chart.js' %}"></script>
{% endblock %}