{% extends 'unauthorized_base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
  <div class="appCapsule">
    <div class="section mt-2">
      <div class="left">
        <a href="{% url 'login' %}">{% translate 'Log in again' %}</a>
      </div>
      <div class="pageTitle"></div>
      <div class="right"></div>
    </div>

    <div class="section mt-2 text-center">
      {% bootstrap_messages %}
      <h1>{% translate 'Logged out' %}</h1>
      <h4>{% translate "Thanks for spending some quality time with the Web site today." %}</h4>
    </div>
  </div>
{% endblock %}