{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}{% translate 'Login' %}{% endblock %}

{% block bootstrap5_content %}
  <div class="container">
    {% bootstrap_messages %}
    <h2>{% translate 'Login' %}</h2>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% bootstrap_button button_type="submit" content="OK" %}
      {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
    <a href="{% url 'signup' %}">{% translate 'Sign up' %}</a>
    <br>
    <a href="{% url 'password_reset' %}">{% translate 'Forgotten your password?' %}</a>
  </div>
{% endblock %}