{% extends 'unauthorized_base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}{% translate 'Password reset' %}{% endblock %}

{% block bootstrap5_content %}
  <div class="appCapsule">
    <div class="section mt-2">
      <div class="left">
        <a href="{% url 'login' %}">{% translate ' Back to log in' %}</a>
      </div>
      <div class="pageTitle"></div>
      <div class="right"></div>
    </div>

    {% bootstrap_messages %}
    <div class="section mt-2 text-center">
      <h1>{% translate 'Password reset' %}</h1>
      <h4>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</h4>
    </div>

    <div class="section mb-5 p-2">
      <form method="post">
        {% csrf_token %}
        <div class="card">
          <div class="card-body">
            {% bootstrap_form form label_class='label' wrapper_class='form-group basic input-wrapper' %} 
          </div>

          <div class="form-button-group transparent">
            <button type="submit" class="btn btn-primary btn-block btn-lg ">{% translate 'Reset my password' %}</button>
        </div>
        </div>

      </form>


    </div>

  </div>
{% endblock %}