{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}{% translate 'Password reset' %}{% endblock %}

{% block bootstrap5_content %}
  <div class="container">
    {% bootstrap_messages %}
    <h2>{% translate 'Password reset' %}</h2>
    <form method="post">
      <p>{% translate "Your password has been set. You may go ahead and log in now." %}</p>

      <p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>
    </form>
  </div>
{% endblock %}