{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}

{% block bootstrap5_title %}{% translate 'Password reset' %}{% endblock %}

{% block bootstrap5_extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}

{% block bootstrap5_content %}

<div class="appCapsule">
  <div class="section mt-2">
    <div class="left">
      <a href="{% url 'login' %}">{% translate ' Back to log in' %}</a>
    </div>
    <div class="pageTitle"></div>
    <div class="right"></div>
  </div>

  <div class="section mt-2 text-center">
    {% bootstrap_messages %}
    <h1>{% translate 'Password reset' %}</h1>
    <h4>
      <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
      <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </h4>
    </div>
</div>
{% endblock %}