{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}

{% block bootstrap5_title %}{% translate 'Sign Up' %}{% endblock %}

{% block bootstrap5_extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}

{% block bootstrap5_content %}
<div class="appCapsule">

  <div class="section mt-2">
    <div class="left">
      <a href="{% url 'login' %}">{% translate ' Back to log in' %}</a>
    </div>
    <div class="pageTitle"></div>
    <div class="right"></div>
  </div>

  <div class="section mt-2 text-center">
    <h1>{% translate 'Sign Up' %}</h1>
  </div>

  <div class="section mb-5 p-2">
    <form method="post">
      {% csrf_token %}
      <div class="card">
        <div class="card-body">
          {% bootstrap_form form label_class='label' wrapper_class='form-group basic input-wrapper' %} 
        </div>
      </div>
      
      <div class="form-button-group transparent">

        {% translate 'OK' as ok_text %}
        {% translate 'Cancel' as cancel_text %}

        {% bootstrap_button button_type="submit" button_class='btn btn-primary btn-block btn-lg m-1' content=ok_text %}
        {% bootstrap_button button_type="reset" button_class='btn btn-primary btn-lg m-1' content=cancel_text %}
      </div>

    </form>
  </div>
</div>
{% endblock %}