{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_title %}{{ title }}{% endblock %}

{% block bootstrap5_content %}
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <div class="container">
            <a href="{% url 'finance:main' %}" class="navbar-brand d-flex w-50 me-auto">TODO: Добавить бренд</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'finance:transaction:table' %}">Все операции</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'finance:periodic_transaction:table' %}">Постоянные траты</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Анализ расходов</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Планирование</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Профиль пользователя</a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль пользователя</a></li>
                          <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Выход из профиля</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>{{ title }}</h2>
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
  </div>
{% endblock bootstrap5_content %}